body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-image: linear-gradient(to right, #8c52ff, #00bf63);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #8c52ff;
    background-attachment: fixed;
}

.grid-section {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 5fr 3fr; 
    grid-gap: 10px; 
    width: 100vw;
    height: 100vh; 

    grid-template-areas: "gif top-box top-box"
                         "gif feature-box feature-box"
                         "gif bot-box bot-box";
}

.gif {
    grid-area: gif;
    width: 100%;
    height: 100%;
    position: relative;
}

.gif img {
    width: 531.4px;
    height: 540px;
    position: absolute;
    left: 68px;
    top: 80px; 
}

.top-box {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4fr 5fr 1fr;
    grid-gap: 1px;
    grid-template-areas:"white-box"
                        "transparent-box"
                        "introduction-box";
    grid-area: top-box;
}

.white-box {
    grid-area: white-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-box {
    grid-area: transparent-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
}

.introduction-box {
    grid-area: introduction-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.feature-box {
    display: grid;
    grid-area: feature-box;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(3,1);
    grid-gap: 25px;
    grid-template-areas:"TSbox TSdetail"
                        "SAbox SAdetail"
                        "MTbox MTdetail";
    margin: 0 auto;
    max-width: 600px;
}

.Text-Summarization-box {
    grid-area: TSbox;
}

.Sentimental-Analysis-box {
    grid-area: SAbox;
}

.Machine-Translation-box {
    grid-area: MTbox;
}

.Text-Summarization-detail {
    grid-area: TSdetail;
}

.Sentimental-Analysis-detail {
    grid-area: SAdetail;
}

.Machine-Translation-detail {
    grid-area: MTdetail;
}

.bot-box {
    background-color:#98fb98;
    grid-area: bot-box;
}